/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top {
    .p-top__backgroundlined {
        background: url(../../assets/img/top__backgroundlined.png) no-repeat;
        background-position: top -20px center;
        background-size: cover;
        @media only screen and (max-width: 992px) {
            background: url(../../assets/img/top__backgroundlined--sp.png) no-repeat;
            background-position: top -120px center;
            background-size: 193%;
        }
    }
}
