.c-header {
    // position: fixed;
    background-color: bisque;
    width: 100%;
    padding: 0 50px;

    .c-header__forcompanywrapper {
        display: flex;
        justify-content: flex-end;
        @include tab {
            display: none;
        }
    }

    .c-header__forcompany {
        font-size: 1.4rem;
        color: #fefefe;
        display: flex;
        height: 53px;
        align-items: center;
        font-feature-settings: "palt";
    }

    .c-header__logonavinquiry {
        display: flex;
        height: 91px;
        justify-content: space-between;
        align-items: center;
    }

    .c-header__navinquiry {
        display: flex;
        height: 100%;
        justify-content: flex-end;
        min-width: 638px;
        @include tab {
            min-width: unset;
        }

        .is-display--tabsp {
            display: none;
            @include tab {
                display: unset;
            }
        }
    }

    .c-header__nav {
        @include tab {
            display: none;
        }
    }

    .c-header__arrowicon {
        width: 20px;
        margin-left: 12px;
    }

    .c-header__navlinklists {
        display: flex;
        font-weight: 700;
        width: 100%;
        justify-content: space-between;
        height: 100%;
    }

    .c-header__inquiry {
        color: #fff;
        background-color: $secondary-color;
        padding: 0 38px;
        margin-left: 23px;
        position: relative;
        font-weight: 700;
        @include fr1200down {
            margin-left: 12px;
            padding: 0 24px;
        }
        @include tab {
            flex-direction: column;
            padding: 0;
        }
        @include sp {
            font-size: 1rem;
        }

        &::before {
            @include tab {
                font-family: "Font Awesome 5 Free";
                font-weight: 400;
                content: "\f0e0";
                font-size: 6rem;
                color: #fff;
            }

            @include sp {
                font-size: 3rem;
            }
        }
    }

    .c-header__navlink {
        padding: 0 24px;
        letter-spacing: -0.6px;
        @include fr1200down {
            padding: 0 16px;
        }
    }

    .c-header__logoimg {
        width: 334px;
        padding: 0 21px;
        @include tab {
            width: 330px;
        }
    }

    .c-header__menuspbtn {
        background-color: $main-color;
        display: flex;
        flex-direction: column;
    }

    .c-header__menuspbtnicon {
        @include tab {
            width: 60px;
        }
        @include sp {
            width: 30px;
        }
    }

    .c-header__menuspbtntxt {
        color: #fff;
        font-weight: 700;
        @include sp {
            font-size: 1rem;
        }
    }
}

//code rieng trong component
// c-gnav
// c-logo
// c-logoimg
