.c-mainvisual {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.c-mainvisual__slick {
    height: 700px;
}
@media only screen and (max-width: 320px) {
    .c-mainvisual__slick {
        height: 374px;
    }
}

.c-mainvisual__slickitem {
    height: 100%;
    width: 100%;
}

.c-mainvisual__slickitem img {
    height: 700px;
    width: 100%;
    object-fit: cover;
    object-fit: cover;
    object-position: center;
    object-position: center;
}
@media only screen and (max-width: 1023px) {
    .c-mainvisual__slickitem img {
        width: 100%;
        object-fit: cover;
        object-fit: cover;
    }
}
@media only screen and (max-width: 320px) {
    .c-mainvisual__slickitem img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-fit: cover;
    }
}

.c-mainvisual__content {
    position: absolute;
    top: 73.7%;
    left: 34.2%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1023px) {
    .c-mainvisual__content {
        left: 37.2%;
    }
}
@media only screen and (max-width: 320px) {
    .c-mainvisual__content {
        transform: translate(0);
        transform: translate(0);
        top: unset;
        left: 5%;
        bottom: 27px;
        text-align: center;
    }
}

.c-mainvisual__img {
    margin-bottom: 35px;
}
@media only screen and (max-width: 320px) {
    .c-mainvisual__img {
        margin-bottom: 34px;
        width: 281px;
    }
}

.c-mainvisual__text {
    font-size: 2rem;
    font-weight: bold;
    padding: 3px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 3px;
    font-feature-settings: "palt" 1;
    font-feature-settings: "palt" 1;
}
@media only screen and (max-width: 767px) {
    .c-mainvisual__text {
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 320px) {
    .c-mainvisual__text {
        padding: 0 16px;
        display: inline-block;
    }
}
