.c-table {
  margin-top: 12px;
  @include sp {
    margin-top: 14px;
  }

  &--info {
    margin-top: 74px;
    @include sp {
      margin-top: 42px;
    }
  }

  &--feedback {
    margin-top: 58px;
  }

  .c-table__content {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }

  .c-table__row {
    display: flex;
    align-items: flex-start;
    border-bottom: solid 1px #ccc;

    &:nth-child(1) {
      border-top: solid 1px #ccc;
    }

    text-align: left;
    padding: 24px 0;

    &--info {
      padding: 29px 0;

      &:nth-last-child(1),
      &:nth-last-child(2) {
        .c-table__cell {
          color: #00a99d;
        }
      }

      &:nth-child(5),
      &:nth-child(7) {
        .c-table__cell p {
          &:not(&:nth-child(1)) {
            margin-top: 13px;
          }
        }
      }

      .c-table__header {
        @include sp {
          font-size: 1.3rem;
        }
      }
    }

    &--feedback {
      border-color: #c5c5c5;
      padding: 20px 0;

      &:nth-child(1) {
        border-color: #c5c5c5;
      }

      &:nth-child(3),
      &:nth-child(6) {
        .c-table__cell--feedback {
          flex: 1;
        }
      }

      &:nth-child(6) {
        .c-feedback__inputtxt {
          flex: 1;
          @include tab {
            flex: auto;
          }
        }

        .c-table__cell--feedback {
          @include tab {
            margin-top: 15px;
          }
        }
      }

      &:nth-child(7) {
        .c-table__cell--feedback {
          flex: 1;
        }
      }
    }

    @include sp {
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      padding: 7px 0;
    }
  }

  .c-table__header {
    width: 13.7%;
    @include tab {
      width: 14.7%;
    }
    @include sp {
      transform: translateY(-2px);
      line-height: 1.5;
    }

    &--feedback {
      margin-top: 4px;
      letter-spacing: 1.4px;
      width: 32.1%;
      @include tab {
        width: 40%;
        margin-top: 0;
      }
      .c-table__headertxt {
        @include sp {
          font-size: 1.3rem;
        }
      }
      .c-feedback__required {
        @include sp {
          font-size: 1.3rem;
        }
      }
    }
    @include sp {
      width: fit-content;
    }
  }

  .c-table__headertxt {
    @include sp {
      font-size: 1.2rem;
    }
  }

  .c-table__headertime {
    font-weight: 400;
    font-size: 1.4rem;
    color: #781111;
    @include sp {
      font-size: 1.2rem;
    }
  }

  .c-table__cell {
    letter-spacing: 0.1px;

    @include sp {
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 1.5;
      margin-top: 5px;
      transform: translateY(-4px);
    }

    &--info {
      padding-left: 52px;
      @include sp {
        padding-left: 0;
        font-weight: 400;
      }
    }

    &--feedback {
      width: 50%;
      @include tab {
        flex: 1;
        width: 100%;
      }
    }
  }

  .c-table__celltxt {
    @include tab {
      line-height: 1.5;
    }
  }

  .c-table__cellline {
    display: flex;
    @include tab {
      flex-direction: column;
    }

    .c-feedback__inputtxt {
      margin-left: 33px;
      @include tab {
        margin-left: 0;
        margin-top: 14px;
      }
    }

    &:not(:nth-child(1)) {
      margin-top: 14px;
    }
  }
}
