.c-backtotop {
    .c-backtotop__contentwrapper {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include sp {
            height: 50px;
        }
    }

    .c-backtotop__icon {
        width: 30px;
        transform: translateY(2px);
        @include sp {
            width: 35px;
        }
    }
}
