.c-feedback {
  @include pconly {
    max-height: 1340px;
  }
  padding: 42px 0 130px;
  @include tab {
    padding: 42px 50px 30px;
  }
  @include sp {
    padding: 42px 15px 30px;
  }
  .l-container--780px {
    @include tab {
      max-width: 780px;
    }
    @include sp {
      max-width: 580px;
    }
  }

  .c-feedback__heading {
    text-align: center;
    @include sp {
      font-size: 1.7rem;
    }
  }

  .c-feedback__descr {
    font-size: 1.4rem;
    margin-top: 26px;
    letter-spacing: 1.4px;
    line-height: 2;
    @include sp {
      font-size: 1.2rem;
    }

    &--green {
      font-weight: 700;
      color: $teal;
    }

    &--red {
      color: #fd0000;
      font-size: 1.4rem;
      margin-top: 4px;
      letter-spacing: 1.1px;
    }
  }

  .c-feedback__pleasecheck {
    font-size: 1.4rem;
    color: #f00;

    margin-top: 20px;
    margin-bottom: 25px;

    display: none;

    &.is-active {
      display: block;
      position: absolute;
      @include sp {
        top: -1.9%;
      }
    }
    @include sp {
      font-size: 1.2rem;
    }
  }

  .c-feedback__form {
    .c-feedback__required {
      margin-left: -6px;
    }

    .is-active {
      display: block;
      @include sp {
        top: -1.9%;
      }
    }
  }

  .c-feedback__required {
    font-family: $kozuka-gothic-pr6n;
    color: #f00;
    font-weight: 400;
  }

  .c-feedback__pleaseenter {
    font-size: 1.4rem;
    color: #f00;
    display: none;
  }

  //   CHECK BOX CSS start
  // ***************************************************
  .c-feedback__labelcheckbox {
    font-weight: 700;
    display: flex;
    align-items: center;

    &:not(:nth-child(1)) {
      margin-left: 33px;
      @include tab {
        margin-left: 0;
        margin-top: 14px;
      }
    }
    /* Customize the label (the container) */
    position: relative;
    padding-left: 26px;
    letter-spacing: 1.5px;
    cursor: pointer;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
    font-size: 1.6rem;
    @include sp {
      font-size: 1.2rem;
    }

    /* On mouse-over, add a grey background color */
    &:hover .c-feedback__checkboxcustom {
      background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    & .c-feedback__checkboxdefault:checked ~ .c-feedback__checkboxcustom {
      background-color: #2196f3;
    }

    /* Show the checkmark when checked */
    &
      .c-feedback__checkboxdefault:checked
      ~ .c-feedback__checkboxcustom::after {
      display: block;
    }
  }

  .c-feedback__checkboxdefault {
    /* Hide the browser's default checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .c-feedback__checkboxcustom {
    /* Create a custom checkbox */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 17px;
    width: 17px;

    border: 1px rgb(194, 194, 194) solid;
    background-color: rgb(255, 255, 255);

    /* Create the checkmark/indicator (hidden when not checked) */

    &::after {
      content: "";
      position: absolute;
      display: none;

      /* Style the checkmark/indicator */
      left: 5px;
      top: 0;

      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  //   CHECK BOX CSS end
  // ***************************************************

  .c-feedback__headertxt {
    display: block;
  }

  .c-feedback__inputtxt {
    font-family: $noto-sans-jp;

    border: none;
    background: #f2f2f2;
    padding: 0 10px;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    @include sp {
      height: 30px;
    }
  }

  .c-feedback__inputtxtarea {
    height: 210px;
    padding: 10px;
    overflow: hidden;
    resize: none;
  }

  .c-feedback__error {
    color: #f00;
    font-size: 1.4rem;
    font-weight: 400;
  }

  label.c-feedback__error {
    letter-spacing: 1.4px;

    margin-top: 10px;
    margin-bottom: -2px;

    display: block;
  }
}
