.c-info {
  color: $black-almost;
  padding: 7.9% 50px 5.3%;
  @include sp {
    padding: 7.9% 15px 5.3%;
  }

  .l-container--780px {
    @include tab {
      max-width: 780px;
    }
    @include sp {
      max-width: 580px;
    }
  }

  .c-info__headingwrapper {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    @include sp {
      max-width: 270px;
    }
  }

  .c-info__quoteiconwrapper {
    position: absolute;
    background-color: #fff;

    &:nth-child(2) {
      left: 8px;
      top: -16px;
      padding-right: 15px;
      @include sp {
        padding-right: 10px;
        top: -8px;
      }
    }

    &:nth-child(3) {
      right: -3px;
      bottom: -16px;
      padding: 0 15px;
      @include sp {
        padding-left: 10px;
        bottom: -8px;
      }
    }
  }

  .c-info__quoteicon {
    width: 35px;
    @include sp {
      display: block;
      width: 20px;
    }
  }
}
