.c-news {
    padding: 30px 50px 80px;
    position: relative;
    @include sp {
        padding: 16px 15px 43px;
    }

    .c-news__bookicon {
        position: absolute;
        top: 21%;
        z-index: -1;
        left: 11.5%;
    }

    .c-table__row {
        &:hover {
            cursor: pointer;
            opacity: 0.7;
            transition: opacity 0.5s;
        }
    }
}
