.c-pickup {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 69px;
    background-image: url("../../assets/img/pickup/pickup-bg.jpg");
    background-repeat: repeat;
    @include sp {
        margin-top: 70px;
        padding-bottom: 46px;
    }
}

.c-pickup .l-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.c-pickup__btn {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    margin: 50px 0 61px;
    padding: 10px 0 12px;
    border: 2px solid #acdeda;
    border-radius: 3px;
    color: #fff;
    text-align: center;
}
@media only screen and (max-width: 767px) {
    .c-pickup__btn {
        margin: 34px 0;
        max-width: 270px;
        padding: 10px 0 13px;
        border: 2px solid #fff;
    }
}

.c-pickup__work {
    margin-bottom: 3px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: -0.6px;
}
@media only screen and (max-width: 767px) {
    .c-pickup__work {
        margin-bottom: 1px;
        letter-spacing: -0.6px;
        font-size: 1.4rem;
    }
}

.c-pickup__title {
    font-size: 2.6rem;
    letter-spacing: -2px;
    font-weight: bold;
    line-height: 1.3;
}
@media only screen and (max-width: 767px) {
    .c-pickup__title {
        font-size: 1.6rem;
        letter-spacing: -1px;
    }
}

.c-pickup__item {
    width: 329px !important;
    margin: 0 7.5px;
    background-color: #fff;
}
@media only screen and (max-width: 767px) {
    .c-pickup__item {
        width: 165px !important;
        height: 215px;
    }
}

.c-pickup__link {
    display: block;
}

.c-pickup__link:hover {
    opacity: 0.7;
    transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.c-pickup__img {
    position: relative;
}

.c-pickup__img img {
    max-width: 100%;
}

.c-pickup__text {
    position: absolute;
    right: 0;
    bottom: -1px;
    padding: 4px 10px;
    background-color: #fff;
    color: #00ada0;
    font-size: 1.5rem;
    font-weight: bold;
    font-feature-settings: "palt" 1;
    font-feature-settings: "palt" 1;
}
@media only screen and (max-width: 767px) {
    .c-pickup__text {
        font-size: 1.2rem;
        padding: 2px 10px 3px;
    }
}

.c-pickup__content {
    min-height: 108px;
    padding: 9px 14px 9px 9px;
    text-align: left;
    font-feature-settings: "palt" 1;
    font-feature-settings: "palt" 1;
}
@media only screen and (max-width: 767px) {
    .c-pickup__content {
        padding: 3px 8px 8px 5px;
    }
}

.c-pickup__contenttitle {
    color: #000;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.6;
}
@media only screen and (max-width: 767px) {
    .c-pickup__contenttitle {
        font-size: 1.2rem;
        line-height: 1.5;
    }
}

.c-pickup__mess {
    margin-top: 10px;
    color: #000;
    font-size: 1.4rem;
    line-height: 1.4;
    font-feature-settings: "palt" 1;
    font-feature-settings: "palt" 1;
}
@media only screen and (max-width: 767px) {
    .c-pickup__mess {
        font-size: 1.1rem;
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    width: 70px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    transition: all 0.2s linear;
    transition: all 0.2s linear;
}
@media only screen and (max-width: 767px) {
    .slick-arrow {
        width: 0;
    }
}

.slick-arrow:hover {
    cursor: pointer;
    opacity: 0.7;
}

.c-btn__prev {
    left: 2.7%;
}

.c-btn__next {
    right: 2.6%;
}

.slick-dots {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 54px);
    transform: translate(-50%, 54px);
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    // gap: 0 10px;
    @include sp {
        bottom: -1px;
        transform: translate(-50%, 34px);
    }
}

.slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: none;
    transition: all 0.2s linear;
    padding: 0;
    margin: auto;
    border: 0;
    display: block;

    &::before {
        font-size: 1.1rem;

        opacity: 1 !important;
        color: #fff;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include sp {
            font-size: 0.8rem;
            top: 50%;
        }
    }
}
@media only screen and (max-width: 767px) {
    .slick-dots button {
        width: 7px;
        height: 7px;
    }
}

.slick-dots li {
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;

    &:not(:nth-child(1)) {
        margin-left: 10px;
        @include sp {
            margin-left: 0;
        }
    }
    @include sp {
        width: 15px;
        height: 15px;
    }
}

.slick-dots .slick-active button {
    //   background-color: #000;
    &::before {
        // width: 18px;
        // height: 18px;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2rem;
        @include sp {
            top: 57%;
            font-size: 0.9rem;
        }
    }
}

.slick-dots .slick-active {
    border: 1px solid #000;
}

.c-corporate__slider .slick-dots button {
    background-color: #1cbbb4;
}

.c-corporate__slider .slick-dots {
    transform: translate(-46%, 32px);
    transform: translate(-46%, 32px);
}

.c-corporate .slick-active button {
    background-color: #000;
}
