<div class="c-backtotop">
    <picture>
        <source media="(max-width: 767px)" srcset="./assets/img/pagetop--sp.png">
        <img src="./assets/img/pagetop.png" alt="愛媛シゴト図鑑" class="c-backtotop__icon">
    </picture>
</div>