<footer class="c-footer">
    <div class="l-container l-container--1160px">
        <img src="./assets/img/footer__logo.png" alt="Ehime | Home" class="c-footer__logo">
        <p class="c-footer__companyname">【運営】株式会社愛媛経済レポート</p>
        <p class="c-footer__address">〒790-0011　愛媛県松山市千舟町4丁目5-4　松山千舟454ビル5F</p>
    </div>
    <div class="c-footer__contactwrapper">
        <p class="c-footer__contacttxt">掲載企業に関するご質問や資料請求などお気軽にご相談ください。</p>
        <p class="c-footer__phone"></p>
        <span class="c-footer__tel">Tel.</span><a href="tel:089-947-1411" class="c-footer__phone">089-947-1411</a>
        <span class="c-footer__timeopen">受付時間 9:00〜17:00（平日のみ）</span>
    </div>
    <div class="c-footer__contactusbtn">
        <a>お問い合わせはこちら</a>
        <a>掲載・取材依頼の企業様へ</a>
    </div>
</footer>