<header class="c-header">
  <div class="c-header__content l-container l-container--1160px">
    <!-- for company start -->
    <div class="c-header__forcompanywrapper">
      <a href="#" class="c-header__forcompany">掲載・取材依頼の企業様へ
        <img src="./assets/img/arrow.svg" alt="2020年卒学生向けの企業紹介サイト" class="c-header__arrowicon">
      </a>
    </div>
    <!-- for company end -->

    <!-- logo, nav, inquiry start -->
    <div class="c-header__logonavinquiry">
      <!-- LOGO start -->
      <a href="./" class="c-header__logo u-verticalalign">
        <picture>
          <source media="(max-width: 767px)" srcset="./assets/img/logo--sp.png">
          <img src="./assets/img/logo.png" alt="Ehime | Home page" class="c-header__logoimg">
        </picture>
      </a>
      <!-- LOGO end -->

      <!-- NAV, INQUIRY start -->
      <div class="c-header__navinquiry">
        <!-- NAV PC start -->
        <nav class="c-header__nav  u-verticalalign">
          <ul class="c-header__navlinklists">
            <% if (typeof linklists !='undefined' ) { %>
              <% linklists.main && linklists.main.forEach(link=> { %>
                <li class="c-header__navlinkli">
                  <a class="c-header__navlink u-verticalalign <% if (link.current || link.active) { %>is-active <% } %>"
                    href=" <%=link.url
                  %>">
                    <%= link.title %>
                  </a>
                </li>
                <% }) %>
                  <% } %>
          </ul>
        </nav>
        <!-- NAV PC end -->

        <!-- INQUIRY start -->
        <a href="./" class="c-header__inquiry">
          お問い合わせ
        </a>
        <!-- INQUIRY end -->

        <!-- MENU BTN SP start -->
        <div class="c-header__menuspbtn is-display--tabsp">
          <img src="./assets/img/menuspbtn.png" alt="メニュー" class="c-header__menuspbtnicon">
          <span class="c-header__menuspbtntxt">メニュー</span>
        </div>
        <!-- MENU BTN SP end -->

      </div>
      <!-- NAV, INQUIRY end -->
    </div>
    <!-- logo, nav, inquiry end -->
  </div>
</header>