<section class="c-mainvisual">
    <div class="c-mainvisual__background">
        <div class="c-mainvisual__slick">
            <div class="c-mainvisual__slickitem">
                <picture>
                    <source media="(max-width: 767px)" srcset="./assets/img/mainvisual/slider1_sp.jpg">
                    <img src="./assets/img/mainvisual/slider1.jpg" alt="Image Image slider1">
                </picture>
            </div>
            <div class="c-mainvisual__slickitem">
                <picture>
                    <source media="(max-width: 767px)" srcset="./assets/img/mainvisual/slider2_sp.jpg">
                    <img src="./assets/img/mainvisual/slider2.jpg" alt="Image Image slider2">
                </picture>
            </div>
            <div class="c-mainvisual__slickitem">
                <picture>
                    <source media="(max-width: 767px)" srcset="./assets/img/mainvisual/slide3_sp.jpg">
                    <img src="./assets/img/mainvisual/slider3.jpg" alt="Image Image slider3">
                </picture>
            </div>
            <div class="c-mainvisual__slickitem">
                <picture>
                    <source media="(max-width: 767px)" srcset="./assets/img/mainvisual/slide4_sp.jpg">
                    <img src="./assets/img/mainvisual/slider4.jpg" alt="Image Image slider4">
                </picture>
            </div>
        </div>
    </div>
    <div class="c-mainvisual__content">
        <div class="c-mainvisual__info">
            <h1 class="c-mainvisual__img">
                <picture>
                    <source media="(max-width: 767px)" srcset="./assets/img/mainvisual/text_background_sp.png">
                    <img src="./assets/img/mainvisual/text_background.png" alt="Image Image text title">
                </picture>
            </h1>
            <p class="c-mainvisual__text"> 2020年卒学生向けの企業紹介サイト </p>
        </div>
    </div>
</section>