<!-- Start pickup slider -->
<section class="c-pickup">
    <div class="l-container">
        <!-- button pickup -->
        <div class="c-pickup__btn">
            <p class="c-pickup__work">Pick Up</p>
            <h2 class="c-pickup__title">新着ピックアップ</h2>
        </div>
        <!-- slider -->
        <div class="c-pickup__slider">
            <!-- item1 -->
            <div class="c-pickup__item">
                <a href="#" class="c-pickup__link">
                    <div class="c-pickup__img">
                        <img src="./assets/img/pickup/slick_1.jpg" alt="Image slick_1">
                        <span class="c-pickup__text">就活コラム</span>
                    </div>
                    <div class="c-pickup__content">
                        <h3 class="c-pickup__contenttitle">県内食品業界はもちろん､愛媛全域が盛り上がる<span>ようなイベントを。</span></h3>
                    </div>
                </a>
            </div>
            <!-- item2 -->
            <div class="c-pickup__item">
                <a href="#" class="c-pickup__link">
                    <div class="c-pickup__img">
                        <img src="./assets/img/pickup/slick_2.jpg" alt="Image slick_2">
                        <span class="c-pickup__text u-text1">経営者インタビュー</span>
                    </div>
                    <div class="c-pickup__content">
                        <h3 class="c-pickup__contenttitle u-title">質の高いサービスを提供地域の生活を支える企業に</h3>
                        <p class="c-pickup__mess">株式会社フジ　代表取締役社長兼ＣＯＯ</p>
                    </div>
                </a>
            </div>
            <!-- item3 -->
            <div class="c-pickup__item">
                <a href="#" class="c-pickup__link">
                    <div class="c-pickup__img">
                        <img src="./assets/img/pickup/slick_3.jpg" alt="Image slick_3">
                        <span class="c-pickup__text u-text1">経営者インタビュー</span>
                    </div>
                    <div class="c-pickup__content">
                        <h3 class="c-pickup__contenttitle u-title1">興味を持ち追求することそれが私の仕事の原動力</h3>
                        <p class="c-pickup__mess">大王海運グループ</p>
                    </div>
                </a>
            </div>
            <!-- item4 -->
            <div class="c-pickup__item">
                <a href="#" class="c-pickup__link">
                    <div class="c-pickup__img">
                        <img src="./assets/img/pickup/slick_4.jpg" alt="Image slick_4">
                    </div>
                    <div class="c-pickup__content u-content">
                        <h3 class="c-pickup__contenttitle">事前の知識や資格は不要 「お年寄りが好き」で十分</h3>
                        <p class="c-pickup__mess">株式会社悠遊社</p>
                    </div>
                </a>
            </div>
            <!-- item5 -->
            <div class="c-pickup__item">
                <a href="#" class="c-pickup__link">
                    <div class="c-pickup__img">
                        <img src="./assets/img/pickup/slick_5.jpg" alt="Image slick_5">
                    </div>
                    <div class="c-pickup__content">
                        <h3 class="c-pickup__contenttitle u-title3">事前の知識や資格は不要「お年寄りが好き」で十分</h3>
                        <p class="c-pickup__mess">株式会社悠遊社</p>
                    </div>
                </a>
            </div>
            <!-- item6 -->
            <div class="c-pickup__item">
                <a href="#" class="c-pickup__link">
                    <div class="c-pickup__img">
                        <img src="./assets/img/pickup/slick_6.jpg" alt="Image slick_6">
                        <span class="c-pickup__text u-text3">就活コラム</span>
                    </div>
                    <div class="c-pickup__content">
                        <h3 class="c-pickup__contenttitle u-title2">他人も巻き込み一生使える自己分析を</h3>
                        <p class="c-pickup__mess">(株)四国中央キャリア &nbsp; &nbsp;代表取締役</p>
                    </div>
                </a>
            </div>
            <!-- item7 -->
            <div class="c-pickup__item">
                <a href="#" class="c-pickup__link">
                    <div class="c-pickup__img">
                        <img src="./assets/img/pickup/slick_7.jpg" alt="Image slick_7">
                        <span class="c-pickup__text u-text2">経営者インタビュー</span>
                    </div>
                    <div class="c-pickup__content">
                        <h3 class="c-pickup__contenttitle">社会の変化に迅速に対応<br>業種を超えた事業展開も</h3>
                        <p class="c-pickup__mess">(株)愛媛銀行 頭取</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End pickup slider -->