.u-palt {
    font-feature-settings: "palt";

    &--onlypc {
        font-feature-settings: "palt";

        @include tab {
            font-feature-settings: unset;
        }
    }

    &--onlysp {
        @include sp {
            font-feature-settings: "palt";
        }
    }
}

.u-verticalalign {
    height: 100%;
    display: flex;
    align-items: center;
}

.u-noscroll {
    overflow: hidden;
}

.is-notdisplay {
    display: none;

    &--fr1200down {
        @include fr1200down {
            display: none;
        }
    }

    &--onlypc {
        display: none;
        @include tab {
            display: unset;
        }
    }

    &--onlytabsp {
        @include tab {
            display: none;
        }
    }
}

.is-display {
    &--onlypc {
        @include tab {
            display: none;
        }
    }

    &--pctab {
        @include sp {
            display: none;
        }
    }

    &--tabsp {
        display: none;
        @include tab {
            display: unset;
        }
    }

    &--onlysp {
        display: none;
        @include sp {
            display: unset;
        }
    }
}
