//baseWidth
$base-width: 1920px;

// font family
$noto-sans-jp: "Noto Sans JP", sans-serif;
$kozuka-gothic-pr6n: "Kozuka Gothic Pr6N", sans-serif;
$libre-franklin: "Libre Franklin", sans-serif;

//color common
$black: #000;
$black-almost: #020000;
$teal: #00ada0;
$green-pastel: #acdeda;
$white: #fff;
