//baseWidth
$base-width: 1920px;

// font family
$main-fonts: "Noto Sans JP", sans-serif;
$secondary-fonts: "Kozuka Gothic Pr6N", sans-serif;
$libre-fonts: "Libre Franklin", sans-serif;

//color common
$main-color: #000;
$secondary-color: #00ada0;
$special-color: #fff;
$almost-black: #020000;
