.c-header {
  width: 100%;
  padding: 0 50px;

  position: absolute;
  z-index: 1;
  @include tab {
    padding: 0;
  }

  .l-container--1160px {
    @include tab {
      max-width: unset;
    }
  }

  .c-header__forcompanywrapper {
    display: flex;
    justify-content: flex-end;
    @include tab {
      display: none;
    }
  }

  .c-header__forcompany {
    font-size: 1.4rem;
    color: #fefefe;
    font-feature-settings: "palt";

    height: 53px;

    display: flex;
    align-items: center;
  }

  .c-header__logonavinquiry {
    background-color: #fff;

    height: 91px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tab {
      height: 120px;
    }
    @include sp {
      height: 70px;
    }
  }

  .c-header__navinquiry {
    min-width: 638px;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    @include tab {
      min-width: unset;
    }

    .is-display--tabsp {
      display: none;
      @include tab {
        display: unset;
      }
    }
  }

  .c-header__nav {
    @include tab {
      display: none;
    }
  }

  .c-header__arrowicon {
    width: 20px;

    margin-left: 12px;
  }

  .c-header__navlinklists {
    font-weight: 700;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
  }

  .c-header__inquiry {
    color: #fff;
    font-weight: 700;
    background-color: $teal;

    padding: 0 38px;
    margin-left: 23px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    @include fr1200down {
      margin-left: 12px;
      padding: 0 24px;
    }
    @include tab {
      padding: 0;
      width: 120px;
      flex-direction: column;
    }
    @include sp {
      font-size: 1rem;
      margin-left: 0;
      width: 70px;
    }

    &::before {
      @include tab {
        content: "\f0e0";
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        font-size: 6rem;
        color: #fff;
        line-height: 1;
      }

      @include sp {
        font-size: 3rem;
      }
    }

    .c-header__inquirytxt {
      margin-top: 1px;
    }
  }

  .c-header__navlink {
    padding: 0 24px;
    letter-spacing: -0.6px;

    &:hover {
      color: #fff;
      background-color: $teal;
      opacity: 1;
    }

    &.is-active {
      color: #fff;
      background-color: $teal;
      opacity: 1;
      pointer-events: none;

      &:hover {
        cursor: default;
      }
    }
    @include fr1200down {
      padding: 0 15px;
    }
  }

  .c-header__logoimg {
    width: 334px;
    padding: 0 21px;
    @include tab {
      width: 330px;
    }
    @include sp {
      padding: 0 8px;
      width: 100%;
      min-width: 180px;
      max-width: 262px;
    }
  }

  .c-header__menuspfull {
    width: 100vw;
    min-width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    flex-direction: column;
    background-color: $teal;
    overflow: auto;

    &.is-active {
      @include tab {
        display: flex;
        z-index: 1;
      }
      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) {
          .c-header .c-header__menuspfull.is-active {
            padding-top: 30px;
            @include sp {
              padding-bottom: 46px;
            }
          }
        }
      }
    }
  }

  .c-header__menuspbtn {
    @include tab {
      background-color: $black;
      align-self: end;
    }
  }

  .c-header__menuspbtntxt {
    @include sp {
      transform: translateY(2px);
    }
  }

  .c-header__closebtn {
    @include tab {
      flex: 0;
      padding: 20px 0;
      background-color: $teal;
      align-self: flex-end;
    }
    @include sp {
      padding: 15px 0;
    }
  }

  img.c-header__closeicon {
    @include tab {
      width: 45px;
    }
    @include sp {
      width: 22px;
    }
  }

  .c-spbtn__txt.c-header__closebtntxt {
    @include tab {
      margin-top: 11px;
    }
    @include sp {
      margin-top: 6px;
    }
  }

  .c-header__navbtns {
    @include tab {
      margin-top: -14px;
      padding-bottom: 72px;
      border-bottom: 1px solid #dbeeec;
    }
    @include sp {
      padding-bottom: 18px;
    }
  }

  .c-header__navbtnlist {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .c-header__navbtn {
    @include tab {
      width: 100%;
      text-align: center;
    }
  }

  .c-header__navlinksp {
    @include tab {
      font-weight: 700;
      font-size: 3.6rem;
      color: #fff;
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      padding: 19px;
    }
    @include sp {
      padding: 9px;
      font-size: 1.8rem;
    }
  }

  .c-header__forpub {
    font-feature-settings: "palt";

    @include tab {
      font-size: 3.2rem;
      padding: 4px;
      border: 1px solid #fff;
    }
    @include sp {
      font-size: 1.6rem;
    }
  }

  .c-header__btmmenuclose {
    &::before {
      @include tab {
        font-family: "Font Awesome 5 Free";
        content: "\f00d";
        font-size: 3.6rem;
        margin-right: 12px;
        color: #fff;
      }
      @include sp {
        font-size: 1.8rem;
      }
    }
  }

  .c-header__teltime {
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #dbeeec;
    padding: 45px 50px 65px;
    @include sp {
      padding: 11px 15px 25px;
    }
  }

  .c-header__phonewrapper {
    color: #fff;
  }

  .c-header__tel {
    @include tab {
      font-size: 3.6rem;
      text-transform: uppercase;
    }
    @include sp {
      font-size: 1.8rem;
    }
  }

  .c-header__phone {
    @include tab {
      font-size: 6rem;
    }
    @include sp {
      font-size: 3rem;
    }
  }

  .c-header__timeopen {
    @include tab {
      font-size: 3.2rem;

      color: $teal;
      background-color: #fff;

      margin-top: 8px;
      display: inline-block;
      width: 100%;
    }
    @include sp {
      font-size: 1.6rem;
    }
  }

  .c-header__lastblock {
    @include tab {
      padding: 65px 0;
    }
    @include sp {
      padding: 25px 0;
    }

    .c-header__navbtn {
      &:nth-child(1) {
        padding: 0 50px;

        @include sp {
          padding: 0 15px;
        }
      }

      &:nth-child(2) {
        margin-top: 17px;
      }
    }
  }
}
