/* layout
------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: $noto-sans-jp;
    font-size: 1.6rem;
    font-weight: 400;
    color: $black;

    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}

//-------------------------------------------------------
.l-container {
    width: 100%;
    margin: 0 auto;
    max-width: $base-width;

    &--1160px {
        max-width: 1160px;
        @include tab {
            max-width: 580px;
        }
        @include sp {
            max-width: 290px;
        }
    }

    &--780px {
        max-width: 780px;
        @include tab {
            max-width: 580px;
        }
        @include sp {
            max-width: 290px;
        }
    }
}
