.c-mainvisual {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 400px;

    margin: 0 auto;
    position: relative;

    @include sp {
        height: 180px;

        top: 70px;
    }

    .c-mainvisual__slick {
        height: 700px;

        display: none;

        @include sp {
            height: 374px;
        }
    }

    .c-mainvisual__slickitem {
        height: 100%;
        width: 100%;

        position: relative;
        display: none;

        &.slick-slide {
            display: block;
        }

        &::before {
            content: "";

            background-color: rgba(0, 0, 0, 0.122);
            opacity: 0.478;

            width: 100%;
            height: 100%;

            position: absolute;
            z-index: 1;
        }
    }

    .c-mainvisual__slickimg {
        object-fit: cover;
        object-position: center;

        width: 100%;
        height: 700px;

        position: relative;

        @include tab {
            // object-position: top 0 left 55%;
            object-position: top 80px left 43%;
            // object-position: center;
        }
        @include sp {
            // object-position: top 0 left 80%;
            // object-position: center;
            object-position: top 36% left 80%;

            height: 374px;
        }
    }

    .c-mainvisual__content {
        width: 100%;

        padding: 0 50px;
        position: absolute;

        display: none;

        @include sp {
            text-align: center;

            padding: 0 15px;
            top: unset;
            bottom: -52px;
        }

        &.is-active {
            display: block;
        }

        &--home {
            top: 73.7%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include sp {
                top: 71.6%;
            }
        }

        &--nothome {
            top: 258px;
            height: fit-content;

            @include sp {
                top: 100px;
            }

            .c-mainvisual__info {
                color: #fefefe;
                text-align: center;
            }

            .c-mainvisual__heading {
                font-family: $libre-franklin;
                font-weight: 600;
                font-size: 5rem;
                letter-spacing: -1.7px;
                text-transform: uppercase;

                @include sp {
                    font-size: 3rem;
                }
            }

            .c-mainvisual__subheading {
                font-weight: 700;
                font-size: 2.4rem;
                letter-spacing: -1.1px;

                margin-top: -14px;

                display: block;

                @include sp {
                    font-size: 1.7rem;

                    margin-top: -8px;
                }
            }
        }
    }

    .c-mainvisual__img {
        margin-bottom: 35px;

        @include sp {
            width: 281px;

            margin-bottom: 34px;
        }
    }

    .c-mainvisual__text {
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        text-align: center;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
        font-feature-settings: "palt" 1;

        max-width: 562px;
        width: 100%;

        padding: 3px 0;

        display: block;

        @include sp {
            font-size: 1.6rem;
            border-radius: 2px;

            padding: 0 16px;
        }
    }
}
