.c-mainvisual {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    @include sp {
        height: 180px;
        top: 70px;
    }
}

.c-mainvisual__slick {
    height: 100vh;
    min-height: 700px;

    display: none;

    @include sp {
        height: calc(100vh - 70px);
        min-height: 374px;
    }
}

.c-mainvisual__slickitem {
    height: 100%;
    width: 100%;

    &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.122);
        opacity: 0.478;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.c-mainvisual__slickitem img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100vh;

    min-height: 700px;
    @include tab {
        // object-position: top 60px left 50%;

        object-position: top 0 left 55%;
    }
    @include sp {
        height: calc(100vh - 70px);

        // height: 444px;
        min-height: 374px;
        // object-position: top 70px left 80%;
        object-position: top 0 left 80%;
    }
}

.c-mainvisual__content {
    position: absolute;

    padding: 0 50px;
    width: 100%;
    display: none;

    &.is-active {
        display: block;
    }

    @include sp {
        top: unset;
        bottom: -52px;

        text-align: center;
        padding: 0 15px;
    }

    &--home {
        top: 73.7%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include sp {
            top: 71.6%;
        }
    }

    &--about,
    &--contact {
        top: 258px;
        height: fit-content;
        @include sp {
            top: 100px;
        }

        .c-mainvisual__info {
            color: #fefefe;
            text-align: center;
        }

        .c-mainvisual__heading {
            text-transform: uppercase;
            font-family: $libre-fonts;
            font-weight: 600;
            font-size: 5rem;
            @include sp {
                font-size: 3rem;
            }
        }

        .c-mainvisual__subheading {
            margin-top: -14px;
            letter-spacing: -1.1px;
            @include sp {
                margin-top: -8px;
                font-size: 1.7rem;
            }
        }
    }
}

.c-mainvisual__img {
    margin-bottom: 35px;
}
@media only screen and (max-width: 320px) {
    .c-mainvisual__img {
        margin-bottom: 34px;
        width: 281px;
    }
}

.c-mainvisual__text {
    font-size: 2rem;
    font-weight: bold;
    padding: 3px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 3px;
    font-feature-settings: "palt" 1;
    font-feature-settings: "palt" 1;
    max-width: 562px;
    width: 100%;
    @include sp {
        font-size: 1.6rem;
        padding: 0 16px;
        display: inline-block;
    }
}
