<%- include('_layouts/layout', { title: '愛媛シゴト図鑑 | About' }); -%>
    <!-- @meta -->
    <meta name="description" content="About">
    <!-- @@meta -->
    <!-- @content -->
    <main class="p-about">
        <%- include('_partials/mainvisual'); -%>
            <div class="p-about__dotbg">
                <%- include('_partials/breadcrumb'); -%>
                    <%- include('_partials/benefit'); -%>
            </div>
            <%- include('_partials/brief'); -%>
                <%- include('_partials/info'); -%>
    </main>
    <!-- @@content -->