<div class="c-backtotop">
    <a class="c-backtotop__contentwrapper" href="#">
        <picture>
            <source media="(max-width: 767px)" srcset="./assets/img/pagetop--sp.png">
            <img src="./assets/img/pagetop.png" alt="愛媛シゴト図鑑" class="c-backtotop__icon">
        </picture>
    </a>
</div>