<section class="c-benefit">
    <div class="c-benefit__wrapper l-container l-container--780px">
        <span class="c-benefit__subheading ">愛媛シゴト図鑑のコンセプト</span>
        <h2 class="c-benefit__heading u-palt">仕事選びの不安を無くしたい</h2>
        <picture>
            <source media="(max-width: 767px)" srcset="./assets/img/benefits/benefits_2x.png">
            <img src="./assets/img/benefits/benefits.png" alt="仕事選びの不安を無くしたい" class="c-benefit__img">
        </picture>
    </div>
</section>