<div class="c-breadcrumb ">
    <div class="c-breadcrumb__contentwrapper l-container l-container--1160px">
        <a class="c-breadcrumb__home" href="./">ホーム</a>
        <!-- About breadcrumb -->
        <span class="c-breadcrumb__currentpage c-breadcrumb__about">愛媛シゴト図鑑とは
        </span>
        <!-- Contact breadcrumb -->
        <span class="c-breadcrumb__currentpage c-breadcrumb__contact">お問い合わせ
        </span>
    </div>
</div>