<section class="c-feedback">
    <div class="c-feedback__contentwrapper l-container l-container--780px">
        <!-- heading & description start -->
        <h2 class="c-feedback__heading">一般･学生の皆様へ</h2>
        <p class="c-feedback__descr u-palt">この度は愛媛シゴト図鑑をご覧いただきありがとうございます。<br>
            愛媛シゴト図鑑を見て疑問に思ったこと、ご質問等ございましたら下記の問い合わせフォームにて意見をお寄せください。少し聞きづらいなと思うようなことも遠慮なくご質問ください。愛媛シゴト図鑑は頑張る就活生を応援しています！<br>
            個人情報の取扱に関しましては、<a class="c-feedback__descr--green" href="#">プライバシーポリシー</a>をご確認ください。<br>
        </p>
        <p class="c-feedback__descr--red">
            <span class="c-feedback__required ">※</span>は入力必須です。
        </p>
        <p class="c-feedback__pleasecheck u-palt">
            入力内容を確認してください。
        </p>
        <!-- heading & description end -->

        <!-- form start -->
        <div class="c-table c-table--feedback">
            <form class="c-feedback__form" id="contactForm" action="#">
                <table class="c-table__content u-palt">
                    <tbody>
                        <!-- name start -->
                        <tr class="c-table__row c-table__row--feedback">
                            <th class="c-table__header c-table__header--feedback">
                                <label for="name" class="c-table__headertxt">
                                    氏名
                                </label>
                                <span class="c-feedback__required">※</span>
                            </th>
                            <td class="c-table__cell c-table__cell--feedback">
                                <input id="name" name="name" type="text" class="c-feedback__inputtxt" required>
                            </td>
                        </tr>
                        <!-- name end -->

                        <!-- company start -->
                        <tr class="c-table__row c-table__row--feedback">
                            <th class="c-table__header c-table__header--feedback">
                                <label for="company" class="c-table__headertxt">
                                    会社・学校名
                                </label>
                            </th>
                            <td class="c-table__cell c-table__cell--feedback">
                                <input id="company" name="company" type="text" class="c-feedback__inputtxt">
                            </td>
                        </tr>
                        <!-- company end -->

                        <!-- address start -->
                        <tr class="c-table__row c-table__row--feedback">
                            <th class="c-table__header c-table__header--feedback">
                                <label for="address" class="c-table__headertxt">
                                    住所
                                </label>
                            </th>
                            <td class="c-table__cell c-table__cell--feedback">
                                <input id="address" name="address" type="text" class="c-feedback__inputtxt">

                            </td>
                        </tr>
                        <!-- address end -->

                        <!-- phone start -->
                        <tr class="c-table__row c-table__row--feedback">
                            <th class="c-table__header c-table__header--feedback">
                                <label for="phone" class="c-table__headertxt">
                                    電話番号
                                </label>
                                <span class="c-feedback__required">※</span>
                            </th>
                            <td class="c-table__cell c-table__cell--feedback">
                                <input id="phone" name="phone" type="tel" class="c-feedback__inputtxt" required>
                            </td>
                        </tr>
                        <!-- phone end -->

                        <!-- mail start -->
                        <tr class="c-table__row c-table__row--feedback">
                            <th class="c-table__header c-table__header--feedback">
                                <label for="mail" class="c-table__headertxt">
                                    メールアドレス
                                </label>
                                <span class="c-feedback__required">※</span>
                            </th>
                            <td class="c-table__cell c-table__cell--feedback">
                                <input id="mail" name="mail" type="email" class="c-feedback__inputtxt" required>
                            </td>
                        </tr>
                        <!-- mail end -->

                        <!-- howyouknow start -->
                        <tr class="c-table__row c-table__row--feedback">
                            <th class="c-table__header c-table__header--feedback">
                                <label for="others" class="c-table__headertxt">
                                    本サイトを知ったきっかけ
                                </label>
                            </th>
                            <td class="c-table__cell c-table__cell--feedback">

                                <div class="c-table__cellline">
                                    <!-- search checkbox start -->
                                    <label for="search" class="c-feedback__labelcheckbox">検索
                                        <input type="checkbox" id="search" name="search"
                                            class="c-feedback__checkboxdefault">
                                        <span class="c-feedback__checkboxcustom"></span>
                                    </label>
                                    <!-- search checkbox end -->

                                    <!-- booklet checkbox start -->
                                    <label for="book" class="c-feedback__labelcheckbox">冊子 <input type="checkbox"
                                            id="book" name="book" class="c-feedback__checkboxdefault">
                                        <span class="c-feedback__checkboxcustom"></span>
                                    </label>
                                    <!-- booklet checkbox end -->

                                    <!-- internet checkbox start -->
                                    <label for="internet" class="c-feedback__labelcheckbox">ネット広告 <input type="checkbox"
                                            id="internet" name="internet" class="c-feedback__checkboxdefault">
                                        <span class="c-feedback__checkboxcustom"></span>
                                    </label>
                                    <!-- internet checkbox end -->

                                    <!-- word checkbox start -->
                                    <label for="word" class="c-feedback__labelcheckbox">口コミ <input type="checkbox"
                                            id="word" name="word" class="c-feedback__checkboxdefault">
                                        <span class="c-feedback__checkboxcustom"></span>
                                    </label>
                                    <!-- word checkbox end -->

                                    <!-- flyer checkbox start -->
                                    <label for="fly" class="c-feedback__labelcheckbox">チラシ <input type="checkbox"
                                            id="fly" name="fly" class="c-feedback__checkboxdefault">
                                        <span class="c-feedback__checkboxcustom"></span>
                                    </label>
                                    <!-- flyer checkbox end -->

                                </div>
                                <div class="c-table__cellline">
                                    <!-- search checkbox start -->
                                    <label for="search2" class="c-feedback__labelcheckbox">検索 <input type="checkbox"
                                            id="search2" name="search2" class="c-feedback__checkboxdefault">
                                        <span class="c-feedback__checkboxcustom"></span>
                                    </label>
                                    <!-- search checkbox end -->

                                    <!-- other input field start -->
                                    <input id="others" name="others" type="text" class="c-feedback__inputtxt">

                                    <!-- other input field end -->
                                </div>
                            </td>

                        </tr>
                        <!-- howyouknow end -->

                        <!-- inquiry start -->
                        <tr class="c-table__row c-table__row--feedback">
                            <th class="c-table__header c-table__header--feedback">
                                <label for="inquiry" class="c-table__headertxt">
                                    お問い合わせ内容
                                </label>
                                <span class="c-feedback__required">※</span>
                            </th>
                            <td class="c-table__cell c-table__cell--feedback">
                                <textarea id="inquiry" name="inquiry"
                                    class="c-feedback__inputtxt c-feedback__inputtxtarea" cols="20" required></textarea>
                            </td>
                        </tr>
                        <!-- inquiry end -->


                    </tbody>
                </table>
                <!-- form button start -->
                <a href="#" class="c-secbtn c-secbtn--feedback">

                    <span class="c-secbtn__text">この内容で送信する</span>
                    <img src="./assets/img/arrow.svg" alt="arrow icon" class="c-secbtn__icon">
                </a>
                <!-- form button end -->
            </form>
        </div>
        <!-- form end -->

    </div>
</section>