<footer class="c-footer">
    <div class="c-footer__contentwrapper">
        <div class="c-footer__content l-container l-container--1160px">
            <!-- left block start -->
            <div class="c-footer__leftblock">
                <a href="./" class="">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./assets/img/footer/footer__logo--sp.png">
                        <img src="./assets/img/footer/footer__logo.png" alt="Ehime | Home" class="c-footer__logo">
                    </picture>
                </a>
                <p class="c-footer__companyname">【運営】株式会社愛媛経済レポート</p>
                <p class="c-footer__address">〒790-0011<span class="is-display--onlypc">　</span><br
                        class="is-display--tabsp">愛媛県松山市千舟町4丁目5-4　松山千舟454ビル5F</p>
            </div>
            <!-- left block end -->

            <!-- middle block start -->
            <div class="c-footer__middleblock">
                <p class="c-footer__plscontact is-palt">掲載企業に関するご質問や資料請求などお気軽にご相談ください。</p>
                <p class="c-teltime__phonewrapper c-footer__phonewrapper">
                    <span class="c-teltime__tel c-footer__tel">Tel.</span><a href="tel:089-947-1411"
                        class="c-teltime__phone c-footer__phone">089-947-1411</a>
                </p>
                <span class="c-teltime__timeopen c-footer__timeopen is-palt">受付時間&nbsp;&nbsp;&nbsp;
                    9:00〜17:00（平日のみ）</span>
            </div>
            <!-- middle block end -->

            <!-- right block start -->
            <div class="c-footer__rightblock">
                <a href="#" class="c-footer__footerbtn is-palt">お問い合わせはこちら</a>
                <a href="#" class="c-footer__footerbtn is-palt">掲載・取材依頼の企業様へ</a>
            </div>
            <!-- right block end -->
        </div>
    </div>
    <p class="c-footer__copyright">©2018 Ehime Keizai Report Inc,</p>
</footer>