<footer class="c-footer">
    <!-- Back to top start -->
    <div class="c-footer__backtotop">
        <a class="c-footer__backtotopcontentwrapper" href="#">
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/img/pagetop--sp.svg">
                <img src="./assets/img/pagetop.svg" alt="back to top icon" class="c-footer__backtotopicon">
            </picture>
        </a>
    </div>
    <!-- Back to top end -->

    <!-- 3 blocks start -->
    <div class="c-footer__contentwrapper">
        <div class="c-footer__content l-container l-container--1160px">
            <!-- left block start -->
            <div class="c-footer__leftblock">
                <a href="./" class="">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./assets/img/footer/footer__logo--sp.png">
                        <img src="./assets/img/footer/footer__logo.png" alt="愛媛シゴト図鑑 Ehime Shigotozukan"
                            class="c-footer__logo">
                    </picture>
                </a>
                <p class="c-footer__companyname">【運営】株式会社愛媛経済レポート</p>
                <p class="c-footer__address">〒790-0011<span class="is-display--onlypc">　</span><br
                        class="is-display--tabsp">愛媛県松山市千舟町4丁目5-4　松山千舟454ビル5F</p>
            </div>
            <!-- left block end -->

            <!-- middle block start -->
            <div class="c-footer__middleblock">
                <p class="c-footer__plscontact u-palt">掲載企業に関するご質問や資料請求などお気軽にご相談ください。</p>
                <p class="c-footer__phonewrapper">
                    <span class="c-footer__tel">Tel.</span><a href="tel:089-947-1411"
                        class="c-footer__phone">089-947-1411</a>
                </p>
                <span class="c-footer__timeopen u-palt">受付時間&nbsp;&nbsp;&nbsp;
                    9:00〜17:00（平日のみ）</span>
            </div>
            <!-- middle block end -->

            <!-- right block start -->
            <div class="c-footer__rightblock">
                <a href="./contact.html" class="c-footer__footerbtn u-palt">お問い合わせはこちら</a>
                <a href="#" class="c-footer__footerbtn u-palt">掲載・取材依頼の企業様へ</a>
            </div>
            <!-- right block end -->
        </div>
    </div>
    <!-- 3 blocks start -->

    <p class="c-footer__copyright">©2018 Ehime Keizai Report Inc,</p>
</footer>