<section class="c-overview">
    <div class="c-overview__content l-container">
        <!-- center block start -->
        <div class="c-overview__illuheadingbtn ">
            <!-- illustration start -->
            <div class="c-overview__illuwrapper">
                <picture>
                    <source media="(max-width: 767px)" srcset="./assets/img/overview/overview__illu--sp.png">
                    <img src="./assets/img/overview/overview__illu.png" alt="愛媛シゴト図鑑は、これから就職を目指す若者と、愛媛の企業をつなぐ役割を担っています。"
                        class="c-overview__illu">
                </picture>
            </div>
            <!-- illustration end -->

            <!-- heading start -->

            <h2 class="c-overview__heading u-palt">愛媛シゴト図鑑は、これから就職を目指す若者と、<br>愛媛の企業をつなぐ役割を担っています。</h2>
            <!-- heading end -->

            <!-- button PC start -->
            <div class="c-overview__btnwrapper l-container l-container--500px is-display--onlypc">
                <a href="./about.html" class="c-secbtn c-secbtn--overview">
                    <span class="c-secbtn__text c-secbtn__text--overview">愛媛シゴト図鑑とは</span>
                    <img src="./assets/img/arrow.svg" alt="arrow icon" class="c-secbtn__icon c-secbtn__icon--overview">
                </a>
            </div>
            <!-- button PC end -->

        </div>
        <!-- center block end -->

        <!-- left block start -->
        <div class="c-overview__imgwrapper">
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/img/overview/overview1--sp.jpg">
                <img src="./assets/img/overview/overview1.jpg" alt="愛媛シゴト図鑑は、これから就職を目指す若者と、愛媛の企業をつなぐ役割を担っています。"
                    class="c-overview__img">
            </picture>
        </div>
        <!-- left block end -->

        <!-- right block start -->
        <div class="c-overview__imgwrapper">
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/img/overview/overview2--sp.jpg">
                <img src="./assets/img/overview/overview2.jpg" alt="愛媛シゴト図鑑は、これから就職を目指す若者と、愛媛の企業をつなぐ役割を担っています。"
                    class="c-overview__img">
            </picture>
        </div>
        <!-- right block end -->

        <!-- button sp start -->
        <div class="c-overview__btnwrapper l-container l-container--780px is-display--tabsp">
            <a href="./about.html" class="c-secbtn c-secbtn--overview">
                <span class="c-secbtn__text c-secbtn__text--overview">愛媛シゴト図鑑とは</span>
                <img src="./assets/img/arrow.svg" alt="arrow icon" class="c-secbtn__icon c-secbtn__icon--overview">
            </a>
        </div>
        <!-- button sp end -->
    </div>
</section>