.c-news {
    padding: 30px 50px 80px;
    @include sp {
        padding: 16px 15px 43px;
    }
    position: relative;

    .c-news__bookicon {
        position: absolute;
        top: 21%;
        z-index: -1;
        left: 11.5%;
    }
}
